.WeatherForecast {
  text-align: center;
}

.WeatherForecast .WeatherForecast-temperature-max {
  text-decoration: bolder;
}

.WeatherForecast .WeatherForecast-temperature-min {
  opacity: 70%;
  margin-left: 5px;
}
